
.main-display
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-display .text-display .left h1
{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    font-size:6ch;
}

.main-display .text-display .left
{
    padding: 10px;
}

.main-display .text-display .left p
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5ch;
}
.main-display .text-display .social-media
{
    display: flex;
    align-items: center;
  
    gap: 40px;
}

.main-display .shoe-display
{
    display: flex;
    justify-content: center;
}

.main-display .text-display p
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: flex-end;
}

.main-display .text-display .left h5
{
    background-color:red;
    padding: 10px 15px;
    color: white;
    width: 75px;
    border-radius: 5px;
}

.buy-now
{
    display: flex;
    gap: 10px;
}