
body
{
font-family: Arial, Helvetica, sans-serif; 
}
.Nav-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    font-weight:525;

}

.Nav-left
{
    padding-left: 8px;
    padding-top: 8px;
}

.Nav-bar .Nav-middle ul
{
    display: flex;
    gap: 28px;
    list-style: none;
}

.Nav-bar .Nav-right
{
    padding: 10px 15px;
}

.Nav-bar .Nav-right button
{
    padding:7px 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    border: 3px solid rgb(255, 255, 255);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}